{:deps {nvd-clojure/nvd-clojure      {:mvn/version "1.4.0"}
        metosin/jsonista             {:mvn/version "0.2.6"}
        org.clojure/tools.cli        {:mvn/version "1.0.194"}
        org.clojure/tools.deps.alpha {:mvn/version "0.8.709"}}}
